:root {
  --color-brand-normal: #819B57;
  --color-brand-dark: #465929;
  --color-primary-light: #FAF4EA;
  --color-primary-dark: #31261A;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #A28268;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vissualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.section-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: 62px;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.btn {
  padding: 16px 32px;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-primary-light);
}
.btn:hover {
  background-color: transparent;
  border: 2px solid var(--color-brand-normal);
  color: var(--color-brand-dark);
}
.btn:active {
  color: black;
  border: 2px solid black;
}

/* Link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-container nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-container ul {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: url(../img/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  font-weight: 900;
  text-align: center;
  font-size: 128px;
  margin-bottom: 0;
}
.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages section */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-list .advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
  gap: 100px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-desc span {
  color: var(--color-brand-normal);
  font-weight: 600;
}
.traditions-desc .uppercase {
  text-transform: uppercase;
}

.limited {
  max-width: 360px;
}

/* Chefs section */
.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title {
  max-width: 520px;
  margin: 0 auto 80px;
}
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}
.chefs-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}

/* Formats section */
.format-card {
  border: 1px solid lightgray; /*remove*/
  border-radius: 16px;
  padding: 24px;
  height: 444px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  flex-wrap: wrap;
}

.format-list {
  display: flex;
  gap: 20px;
}

.article-card-title {
  font-weight: 600;
  font-size: 24px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}

/* Contacts section */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */
.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
  color: #A18268;
}

.footer {
  background-image: url(../img/footer-bg.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=style.css.map */